---
import Layout from "../layouts/Layout.astro";
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import RightArrow from '../assets/right.svg';

// API fetching
const API_KEY = import.meta.env.NASA_API_KEY || "DEMO_KEY";
const res = await fetch(`https://api.nasa.gov/planetary/apod?api_key=${API_KEY}&count=4`);
const apods = await res.json();

// Cloudinary settings
const API_CLOUDINARY = import.meta.env.CLOUD_NAME;
const optimize = (url: string): string => 
  `https://res.cloudinary.com/${API_CLOUDINARY}/image/fetch/f_auto,q_auto,w_800/${url}`;
---

<Layout title="Mission">
    <main>
		<div class="top_space">
			<Navbar />
			<div class="hero">
				<h1>Astronomy Picture of the Day</h1>
				<p>Our mission is to provide easy access to NASA's vast collection of data and imagery, enabling users to explore and discover fascinating information about our universe. We aim to create an intuitive and user-friendly interface that allows everyone, from casual enthusiasts to researchers, to search and access NASA's resources effortlessly.</p>
			</div>
		</div>

        <div class="title_section">
			<h1>Featured  Pictures</h1>
			<p>Daily astronomy images from NASA</p>
		</div>

		<div class="main_content">
			{apods && apods.map(apod => (
			<div class="apod_card">
				<img
				src={optimize(apod.url)}
				alt={apod.title}
				loading="lazy"
				/>
				<div class="apod_overlay"></div>
				<div class="apod_info">
				<span class="apod_date">{apod.date}</span>
				<h2 class="apod_title">{apod.title}</h2>
				</div>
			</div>
			))}
		</div>

		<div class="middle_space">
			<h1>Asteroids NeoWs</h1>
			<p>Near Earth Object Web Service
			Track close approaches of asteroids and comets with real-time data on potentially hazardous objects near our planet.</p>
			<a href="">Learn More <img src={RightArrow.src} alt="right icon"></a>
		</div>

		<Footer />

    </main>
</Layout>

<style>
    .top_space {
		height: 98vh;
		background-image: url(../assets/bg2.webp);
		background-size: cover;
		background-position: center;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.hero {
		color: white;
		align-content: center;
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 7rem 4rem;
	}

	.hero h1 {
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 5rem;
		margin: 0;
	}

	.hero p {
		font-size: 1.1rem;
		max-width: 70ch;
		line-height: 1.3;
		color: rgb(255, 255, 255);
	}

	.title_section {
		display: flex;
		justify-content: space-between;
		margin: 4rem 4rem ;
	}

	.title_section h1 {
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 3rem;
		margin: 0;
	}

	.title_section p {
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 1.3rem;
		
	}

	.main_content {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 
			"left center right1"
    		"left center right2";
		gap: 1rem;
		margin: 0rem 4rem 7rem;
	}

	
	.apod_card:nth-child(1) {
		grid-area: left;
		height: auto;
		min-height: 100%;
	}

	.apod_card:nth-child(2) {
		grid-area: center;
		height: auto;
		min-height: 100%;
	}

	.apod_card:nth-child(3) {
		grid-area: right1;
	}

	.apod_card:nth-child(4) {
		grid-area: right2;
	}

	.apod_card {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 200px;
		overflow: hidden;
		background-size: cover;
		background-position: center;
	}

	.apod_overlay {
		position: absolute;
		inset: 0;
		background: rgba(0,0,0,0.45);
		transition: background 0.3s;
	}

	.apod_card:hover .apod_overlay {
		background: rgba(0,0,0,0.6);
	}

	.apod_info {
		font-family: "Roboto-Bold", sans-serif;
		position: relative;
		z-index: 1;
		padding: 1.2rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.apod_date {
		font-family: "Roboto", sans-serif;
		font-size: 0.95rem;
		color: #d8d8d8;
		margin-bottom: 0.2rem;
		letter-spacing: 1px;
		opacity: 0.85;
	}

	.apod_title {
		font-size: 1.5rem;
		color: #fff;
		font-weight: bold;
		margin: 0;
		text-shadow: 0 2px 8px rgba(0,0,0,0.7);
	}

	.middle_space {
		background-image: url(../assets/bg3.webp);
		background-size: cover;
		background-position: center;
		height: 100vh;
		background-size: cover;
		background-position: center;
		display: flex;
		flex-direction: column;
		align-content: center;
		flex: 1 0 auto;
		justify-content: center;
	}

	.middle_space h1 {
		font-family: 'Roboto-Bold', sans-serif;
		color: white;
		font-size: 5.1rem;
		margin: 1rem 3rem;
	}

	.middle_space p {
		font-size: 1.1rem;
		max-width: 70ch;
		line-height: 1.3;
		color: rgb(255, 255, 255);
		margin: 1rem 3rem;
	}

	.middle_space a {
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 1.5rem;
		color: white;
		text-decoration: none;
		margin: 0.7rem 3rem;
		max-width: fit-content;
		display: inline-flex;
		align-items: center;
		vertical-align: middle;
	}

	.middle_space img {
		margin-left: 1rem;
		padding: 0.2rem;
		background-color: rgb(255, 51, 0);
		border-radius: 50%;
		width: 17px;
		display: inline-block;
		vertical-align: middle;
	}



	@media (max-width: 1200px) {
		.title_section {
			margin: 3rem 2rem;
		}
		.main_content {
			margin: 0rem 2rem 4rem;
			gap: 0.7rem;
		}
		.hero {
			margin: 5rem 2rem;
		}
	}

	@media (max-width: 900px) {
		.apod_card {
			height: 300px;
		}
		.main_content {
			grid-template-columns: 2fr 2fr;
			grid-template-areas:
				"left center"
				"right1 right2";
			margin: 0rem 1rem 5rem;
		}

		.apod_card:nth-child(1), .apod_card:nth-child(2) {
			height: 300px;
		}
		
		.title_section {
			margin: 2rem 1rem;
			flex-direction: column;
			gap: 0.5rem;
			align-items: flex-start;
		}
		.hero {
			margin: 3rem 1rem;
		}
		.middle_space h1 {
			font-size: 3rem;
			margin: 1rem 1rem;
		}
		.middle_space p,
		.middle_space a {
			margin: 1rem 1rem;
		}
	}

	@media (max-width: 700px) {

		.hero {
			display: flex;
			align-items: center	;
		}

		.hero p {
			text-align: center;
			font-size: 0.9rem;
		}

		.main_content {
			grid-template-columns: 1fr;
			grid-template-areas:
				"left"
				"center"
				"right1"
				"right2";
			margin: 3rem 0.5rem 5rem;
			gap: 1.5rem;
		}

		.apod_card:nth-child(1), .apod_card:nth-child(2), .apod_card:nth-child(3), .apod_card:nth-child(4) {
			height: 300px;
		}

		.apod_card {
			height: 180px;
		}
		.title_section h1 {
			font-size: 3rem;
		}
		.title_section p {
			font-size: 0.8rem;
		}
		.hero h1 {
			font-size: 2.2rem;
		}
		.middle_space {
			text-align: center;
			justify-content: center;
			align-items: center;
		}
		.middle_space h1 {
			font-size: 2rem;
		}
		.middle_space p,
		.middle_space a {
			max-width: 56ch;
		}
	}

	@media (max-width: 500px) {
		.top_space {
			height: auto;
		}
		.hero {
			margin: 7rem 0rem;
		}

		.hero p {
			max-width: 50ch;
		}
		.hero h1 {
			font-size: 1.3rem;
		}
		.hero p {
			font-size: 0.6rem;
		}
		.title_section {
			margin: 2rem 1rem 1rem;
		}
		.title_section h1 {
			font-size: 1.2rem;
		}
		.title_section p {
			font-size: 0.8rem;
		}
		.main_content {
			margin: 0rem 1rem 3rem;
			gap: 1rem;
		}
		.apod_card {
			height: 110px;
		}
		.apod_title {
			font-size: 0.9rem;
		}
		.apod_info {
			padding: 0.5rem;
		}
		.middle_space {
			margin: 0;
			height: auto;
			text-align: center;
			justify-content: center;
			align-items: center;
			padding: 7rem 0rem;
		}

		.middle_space h1 {
			font-size: 1.1rem;
			margin: 0.5rem 0.3rem;
		}
		.middle_space p,
		.middle_space a {
			font-size: 0.7rem;
			margin: 0.5rem 0.3rem;
			max-width: 40ch;
		}

		.middle_space img {
			width: 10px;
			padding: 0.1rem;
			margin-left: 0.5rem;
		}
	}

</style>
